 body { 
   background-color: black;    
   color: white;
   font-family: Arial, Helvetica;
  }  
 div.cntnt {
  width: 800px;
  margin: auto;
 } 
 div.hdrpanel {text-align: center; border-bottom: 1px solid yellow;} 
 div.leftpanel {
  float: left;
  width: 210px;
 }
 div.cntrpanel {
  padding-left: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
 }
 div.cpyrght{clear: both; text-align: center; border-top: 1px solid yellow;}
 a {text-decoration : none; color: white; font-weight: bold;}
 a:visited {color: white;}
 a:hover {
  text-decoration : none; 
  color: black; 
  background-color: white;
 }
 ul { list-style: none;}
 li {border: 1px solid white; 
   background-color: black;
   padding: 5px;}
h2 {text-align: center;}   
.sbmt {text-align: center;}
input, select {border: 1px solid yellow; }

  